/*html {
  background-color: #121519;
  color: #fafafa;
  font-family: "Barlow Condensed", Verdana, Arial, Tahoma, sans-serif;
  scroll-behavior: smooth;
}/*

/*body{
    margin: 5%;
    padding: auto;
}*/

/*thead{
    border: 2px, solid gray;
    background-color: darkgrey;
    font-weight: bold;
}*/
/*
.fila{
    border: 1px solid darkgrey;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table, th td {
    border: 1px solid darkgrey;
}

.numeracion{
    text-align: right;
    padding-right: 20px;
}

.total {   
    font-weight: bold;
}

.enca2{
    padding-right: 23%;
    min-width: 50%;
    display: inline;
}

.subTit{
    /*width: 80%;*//*
    font-weight: bolder;
    text-align: center;
}
.bloque{
    /*width: 72%;*//*
    background-color: darkgrey;
}*/